.copyright p {
    color: #888888;
}

body.text-ui-light .site-footer {
    border-bottom: none !important;
}

body.page .c-page-content .content-area {
    margin-top: 0px !important;
}

body {
    font-family: "Noto Sans KR" !important;
}

.font-title a {
    font-size: 16px;
    font-weight: 500 !important;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.4px;
    display: inline-block;
    margin-right: 0;
    vertical-align: middle;
    height: 100%;
}

@media (min-width: 0) and (max-width: 767px) {
    .font-title a {
        font-size: 1.1875rem;
    }

    .font-meta {
        line-height: 18px;
    }
}

.font-meta {
    font-size: .8rem !important;
    line-height: 19px !important;
    font-weight: 400 !important;
    letter-spacing: -0.4px;
}

body.page .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item a {
    font-weight: 400 !important;
}

.c-breadcrumb .breadcrumb li a, .c-breadcrumb .breadcrumb li {
    font-weight: 700 !important;
}


body.manga-page .profile-manga .tab-summary {
    margin: 0 auto;
    max-width: 400px;
}

.c-blog__heading.style-2 a.btn-reverse-order i {
    transform: none
}